header nav ul
{
    list-style: none;
    display: flex;
}
#ighead
{
    margin-left: 30px;
    margin-bottom: 30px;
}
#camera
{
    margin-left: 600px;
}
ul li h2
{
    color: #0e5838;
}
#formContainer
{
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #707070;
    margin-top: 50px;
    border-radius: 5px;
}
#header-bar
{
    max-width:  100%;
    height: 70px;
    border-bottom: 2px solid #0e5838;
}
#form
{
    width: 600px;
    height: 300px;
    border: 1px solid #707070;
    margin: 0 auto;
    margin-top: 60px;
}
form
{
    margin-top: 50px;
}
input
{
    margin-top: 20px;
}
#iloc
{
    margin-left: 30px;
}
#idesc
{ 
    width: 362px;
}
button
{
    padding: 5px 31px;
    margin-top: 30px;
}